* {
  font-family: Arial, Helvetica, sans-serif;
}

.home-intro {
  font-size: 24px;
  text-align: justify;
}

.footnotes {
  outline: 2px solid black;
  font-size: 16px;
  padding: 8px;
  margin: 8px;
}